<footer>
  <div class="footer-container">
    <div class="footer-col">
      <h3>Negozio</h3>
      <p>
        Marielu Coffee Shop<br>
        Via Cesare Battisti, 38<br>
        25016 Ghedi (BS)
      </p>
      <p>Tel: <a href="tel:+390305409159">030 540 9159</a></p>
      <p>WhatsApp: <a href="https://wa.me/393791395387">379 139 5387</a></p>
    </div>

    <div class="footer-col">
      <h3>Categorie</h3>
      <ul>
        <li><a href="/capsule.html">Capsule</a></li>
        <li><a href="/cialde.html">Cialde</a></li>
        <li><a href="/grani.html">Grani</a></li>
        <li><a href="/accessori.html">Accessori</a></li>
        <li><a href="/macchine.html">Macchine</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Seguici</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100092344270720" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/marielucoffeeshop/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Marielu Coffee Shop – Tutti i diritti riservati.
  </div>
</footer>

